<div class="card">

  <div class="card-content">

    <span class="card-title">Add Data To Pokedex</span>

    <form (ngSubmit)="onSubmit()" class="col s6">

      <div class="row">

        <div class="input-field col s6">
          <input type="text" name="title" placeholder="Add Title..." [(ngModel)]="item.title">
          <label>Title</label>
        </div>

        <div class="input-field col s6">
          <input type="text" name="description" placeholder="Add Description..." [(ngModel)]="item.description">
          <label>Description</label>
        </div>

      </div>

      <input type="submit" name="submit" value="submit" class="btn red">

    </form>

  </div>

</div>
